# --- macOS ---
.DS_Store

# --- compiled artifacts ---
*.o
*.obj
*.a
*.so
*.dylib
*.out

# --- build directories ---
build*/
cmake-build-*/
CMakeFiles/
CMakeCache.txt

# --- CUDA ---
*.ptx
*.cubin
*.fatbin

# --- editors/IDEs ---
.vscode/
.idea/

# --- python cache ---
__pycache__/
*.pyc
